/* List view */
.list-view .content
{
  display: flex;
}
.list-view .contact-grid
{
  flex: 2;
}
.list-view .contact-form
{
  flex: 1;
  padding: var(--lumo-space-m);  /*What is this supposed to do?*/
}
@media all and (max-width: 1100px)
{
.list-view.editing .toolbar,
.list-view.editing .contact-grid
  {
    display: none;
  }
}

.attributefield
{
  padding: 0px;
  margin: 0px;

}